<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1 class="title">Floricultura</h1>

  <ul>
    <li>
      <a href="/produto">
        <h2>Flor Pluméria</h2>
        <img src="imagem1.png" alt="">
        <p>R$ 60,00</p>
      </a>
    </li>
    <li>
      <a href="/produto">
        <h2>Flor de Maio</h2>
        <img src="imagem6.png" alt="Imagem do Produto 2">
        <p>R$ 45,00</p>
      </a>
      <li>
        <a href="/produto">
          <h2>Rosa do Deserto</h2>
          <img src="imagem3.png" alt="Imagem do Produto 2">
          <p>R$ 60,00</p>
        </a>
      </a>
      <li>
        <a href="/produto">
          <h2>Flor de Lótulus</h2>
          <img src="imagem4.png" alt="Imagem do Produto 2">
          <p>R$ 25,00</p>
        </a>
      </a>
      <li>
        <a href="/produto">
          <h2>Flor de Cerejeira Branca</h2>
          <img src="imagem5.png" alt="Imagem do Produto 2">
          <p>R$ 35,00</p>
        </a>
    </a>
    <li>
      <a href="/produto">
        <h2>Flor Dália Rosa</h2>
        <img src="imagem2.png" alt="Imagem do Produto 2">
        <p>R$ 35,00</p>
      </a>
  </a>
  </li>
  </ul>
</body>
</html>