<!DOCTYPE html>
<html>
<head>
  <title>Floricultura</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Floricultura</h1>
  <div>
    <img src="'imagem.png">
    <img src="'imagem1png">
    <img src="'imagem2.png">
    <img src="'imagem3.png">
  </div>
</body>
</html>