<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <a class = "nav-link" aria-current="page" href="/"> Principal</a>
  <h1 class="title">Floricultura</h1>

  <center><ul>
    <li>
      <a href="produto">
        <h2>Flor Pluméria</h2>
        <center><img src="imagem1.png" alt="Imagem do Produto 1"></center>
        <center><p>Plumerias têm hastes grossas, folhas de couro, e uma abundância de flores do início do verão até o outono. Nos trópicos algumas variedades podem crescer até uma altura de mais de 30 pés. Variedades mais curtas podem ser plantadas e podadas em uma grande cobertura. As flores de plumeria são muito perfumadas, por isso elas são plantadasplantam árvores perto de janelas ou pátios para desfrutar da fragrância sedutora. As cores das flores incluem rosa, vermelho, branco e amarelo. Plumerias são frequentemente plantadas em recipientes e fazem excelentes flores cortadas.</p></center>
        <center><p>R$ 60,00</p></center>
      </a>
    </li>
  </center>
  
</body>
</html>